/*  Variables  */
/*  Mixins */
/*  General  */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, h2, h3, h4 {
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 2.0rem;
}

/*  COVER HERO PAGE  */
/*  Hero Background  */
.hero {
  background-image: url("../assets/images/homepage-background.jpg");
  background-size: cover;
  min-height: 100vh;
}

/*   Nav Bar  */
.hero-header {
  min-height: 8vh;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-header--left, .hero-header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header--left a, .hero-header--right a {
  padding: 0 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #d7d7d7;
}

.hero-header--left:hover, .hero-header--right:hover {
  color: #fff;
}

.hero-header--left a {
  color: #fff;
}

.hero-header--right .clicked {
  color: #fff;
}

/*  Hero Jumbo  */
.hero-content {
  min-height: 40vh;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content .hero-content___date {
  font-weight: 700;
}

.hero-content .hero-content__tagline {
  font-weight: 400;
  padding-bottom: 2rem;
}

.hero-content .hero-content__btn {
  width: 19.8rem;
  height: 5.5rem;
  padding: 1.5rem 3.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  border-color: #fff;
  border-radius: 4px;
}

/*  ABOUT PAGE  */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.about-container .about-container__subheading {
  width: 35%;
  font-weight: 700;
  text-align: justify;
}

.about-container .about-container__content {
  width: 65%;
  font-weight: 400;
  text-align: justify;
  padding-left: 3rem;
}

.about-container .about-container__content p {
  margin: 0;
}

/*  MUSIC PAGE  */
#music {
  background: #f9f9f9;
}

.music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.music-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.music-container .music-container__iframe {
  width: 45vw;
  min-height: 35vh;
}

.music-container .music-container-content {
  width: 65%;
  padding-left: 3rem;
  text-align: justify;
}

.music-container .music-container-content span {
  font-weight: 400;
}

/*  GALLERY PAGE  */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.gallery .gallery-container .gallery-container__pic {
  width: 23rem;
  height: 20rem;
  margin: 0.7vw;
}

/*  COMMENTS PAGE  */
#comments {
  background-color: #F9F9F9;
}

.comments {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.comments .comments-form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #d7d7d7;
  padding-top: 2rem;
}

.comments .comments-form div {
  width: 100%;
}

.comments .comments-form div label {
  font-size: 1.8rem;
  font-weight: 700;
}

.comments .comments-form div label #comments-form__name-input {
  width: 100%;
  height: 8vh;
  display: block;
  margin: 1rem 0;
  padding-top: 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 1.2rem;
}

.comments .comments-form div label #comments-form__textarea {
  width: 100%;
  height: 20vh;
  display: block;
  margin: 1rem 0;
  padding-top: 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 1.2rem;
  resize: none;
}

.comments .comments-form .comments-form__submit-btn {
  width: 19.8rem;
  height: 5.5rem;
  margin: 1rem 0 3rem 0;
  padding: 2rem 2rem;
  background-color: #000;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.new-comment {
  border-bottom: 1px solid #d7d7d7;
  font-size: 1.2rem;
  padding-bottom: 2vw;
}

.new-comment-header__user {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
}

.new-comment-header__timestamp {
  display: inline-block;
  margin-left: 2vw;
  color: #A0A0A0;
  font-size: 1.4rem;
}

.new-comment-footer {
  margin-top: 1vw;
  color: #A0A0A0;
  font-size: 1.4rem;
}

.new-comment-footer__likesCount {
  margin-left: 2vw;
  font-size: 1.4rem;
}

.footer {
  font-size: 1rem;
  color: #D7D7D7;
  margin-top: 5rem;
}

/*  MEDIA QUERIES  */
@media (max-width: 768px) {
  .hero {
    min-height: 40vh;
  }
  .hero-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0 0;
  }
  .hero-header--left, .hero-header--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-header--left > a, .hero-header--right > a {
    width: 100vw;
    font-size: 1.44rem;
    text-align: center;
  }
  .hero-content {
    min-height: 40vh;
  }
  .hero-content .hero-content__date {
    font-size: 4.2rem;
  }
  .hero-content .hero-content__tagline {
    font-size: 1.8rem;
  }
  .hero-content .hero-content__btn {
    width: 9.9rem;
    height: 2.75rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
  .about .about__title {
    font-size: 3.84rem;
  }
  .about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-container .about-container__subheading {
    width: 100%;
  }
  .about .about-container .about-container__subheading h4 {
    font-size: 1.2rem;
  }
  .about .about-container .about-container__content {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
  }
  .about .about-container .about-container__content p {
    font-size: 1rem;
  }
  .music__title {
    font-size: 3.84rem;
  }
  .music-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .music-container .music-container__iframe {
    width: 50%;
    margin: 0 auto;
  }
  .music-container .music-container-content {
    width: 100%;
    padding-top: 3rem;
  }
  .music-container .music-container-content h4 {
    font-size: 1rem;
  }
  .music-container .music-container-content p {
    font-size: 1rem;
  }
  #gallery .gallery .gallery__title {
    font-size: 3.84rem;
  }
  #gallery .gallery .gallery-container {
    width: 100%;
  }
  #gallery .gallery .gallery-container .gallery-container__pic {
    width: 11.75rem;
    height: 10.25rem;
  }
  .comments .comments__title {
    font-size: 3.84rem;
  }
  .comments .comments-form form label {
    font-size: 1.44rem;
  }
  .comments .comments-form form .comments-form__submit-btn {
    width: 13.86rem;
    height: 3.85rem;
    padding: 1em 0 2em;
    font-size: 1.26rem;
  }
  .comments .comments-form .comments-post-container .new-comment .new-comment-header .new-comment-header__user, .comments .comments-form .comments-post-container .new-comment .new-comment-header .new-comment-header__timestamp {
    font-size: 1.14rem;
  }
  .comments .comments-form .comments-post-container .new-comment .new-comment-body {
    font-size: 1.08rem;
  }
  .comments .comments-form .comments-post-container .new-comment .new-comment-footer i, .comments .comments-form .comments-post-container .new-comment .new-comment-footer .new-comment-footer__likesCount {
    font-size: 1.08rem;
  }
  .footer {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=index.css.map */