/*  Variables  */
/*  Mixins */
/*  General  */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, h2, h3, h4 {
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 2.0rem;
}

/*   SHOWS PAGE  */
/*  Hero Background  */
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Images/homepage-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/homepage-background.jpg");
  background-size: cover;
  min-height: 100vh;
}

/*   Nav Bar  */
.hero-header {
  min-height: 8vh;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-header--left, .hero-header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header--left a, .hero-header--right a {
  padding: 0 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #d7d7d7;
}

.hero-header--left:hover, .hero-header--right:hover {
  color: #fff;
}

.hero-header--left a {
  color: #fff;
}

.hero-header--right .clicked {
  color: #fff;
}

/*  Shows Table  */
.shows {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.shows .shows__title {
  color: #fff;
}

.shows-content-wrapper {
  padding-top: 2rem;
}

.shows-content-wrapper .shows-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shows-content-wrapper .shows-container-item div {
  width: 30%;
}

.shows-content-wrapper .shows-container-item .shows-container-item__date {
  color: #fff;
  font-size: 1.8rem;
}

.shows-content-wrapper .shows-container-item .shows-container-item__place {
  display: block;
  color: #D7D7D7;
  font-size: 1.8rem;
}

.shows-content-wrapper .shows-container-item .shows-container-item__location {
  color: #D7D7D7;
  width: 30%;
  font-size: 1.8rem;
}

.shows-content-wrapper .shows-container-item .shows-container-item__btn {
  width: 19.8rem;
  height: 5.5rem;
  padding: 1.5rem 3.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  border-color: #fff;
  border-radius: 4px;
}

hr:last-of-type {
  display: none;
}

/*  CONTACT PAGE  */
#contact {
  background-color: #272727;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  color: #fff;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  word-wrap: break-word;
}

.contact .contact-container .contact-container__box {
  width: 30%;
}

.contact .contact-container .contact-container__box-title {
  font-weight: 700;
  font-size: 1.8rem;
}

.contact .contact-container .contact-container__box-content {
  color: #D7D7D7;
}

.contact .contact-container .contact-container__box-content p {
  margin: 0;
  font-size: 1.8rem;
}

.contact .contact-icon-bar {
  width: 25%;
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-icon-bar .contact-icon-bar__item {
  font-size: 1.8rem;
}

.footer {
  font-size: 1rem;
  color: #D7D7D7;
  margin-top: 5rem;
}

/*  MEDIA QUERIES  */
@media (max-width: 768px) {
  .hero {
    min-height: 40vh;
  }
  .hero-header, .hero-header--left, .hero-header--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-header--left > a, .hero-header--right > a {
    width: 100vw;
    font-size: 0.9rem;
    text-align: center;
  }
  .shows-content-wrapper .shows-container-item div .shows-container-item__date {
    font-size: 0.9rem;
  }
  .shows-content-wrapper .shows-container-item div .shows-container-item__place {
    font-size: 0.9rem;
  }
  .shows-content-wrapper .shows-container-item .shows-container-item-location {
    font-size: 0.9rem;
  }
  .shows-content-wrapper .shows-container-item .shows-container-item__btn {
    width: 9.9rem;
    height: 2.75rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
  .contact__title {
    font-size: 5.12rem;
  }
  .contact-container .contact-container__box .contact-container__box-title {
    font-size: 1.44rem;
  }
  .contact-container .contact-container__box .contact-container__box-content p {
    font-size: 1.44rem;
  }
}

@media (max-width: 1092px) {
  .contact__title {
    font-size: 5.12rem;
  }
  .contact-container .contact-container__box .contact-container__box-title {
    font-size: 1.44rem;
  }
  .contact-container .contact-container__box .contact-container__box-content p {
    font-size: 1.44rem;
  }
}
/*# sourceMappingURL=shows.css.map */