/*  Variables  */
$primary-font: 'Poppins', sans-serif;
$tbl-body-font-color: #D7D7D7;
$tbl-body-font-size: 1.3rem;

/*  Mixins */
@mixin section-wrapper {
  width: 90%;
  margin: 0 auto;
}

@mixin section-padding {
  padding: 4rem 0;
}

/*  General  */
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body, h1, h2, h3, h4 {
  margin: 0;
}
body {
  font-size: 62.5%;
  font-family: $primary-font;
}

h1 {
  font-size: 8.4rem;
}

h2 {
    font-size: 6.4rem; 
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}
p {
  font-size: 2.0rem;
}

/*   SHOWS PAGE  */

/*  Hero Background  */
.hero {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/Images/homepage-background.jpg");
  background-size: cover;
  min-height: 100vh;
}

/*   Nav Bar  */
.hero-header {
  min-height: 8vh;
  @include section-wrapper;
  @include section-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-header--left, .hero-header--right,  {
  display: flex;
  align-items: center;
  a {
    padding: 0 1rem;

    font-size: 1.8rem;
    text-decoration: none;
    color: $tbl-body-font-color;
  }
    &:hover {
      color: #fff;
    }
}

.hero-header--left a {
  color: #fff;
}

.hero-header--right .clicked {
  color: #fff;
}

/*  Shows Table  */
.shows {
  @include section-wrapper; 
  @include section-padding;
  .shows__title {
    color: #fff;
  }
  .shows-content-wrapper {
    padding-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    .shows-header-row {
      .shows-tbl-headers {
        color: #fff;
        font-size: 1.8rem;
        text-align: left;
        padding-bottom: 0.5em;
      }
    }
    .shows-container-item {
      font-size: ($tbl-body-font-size) * 0.65;
      border-bottom: 2px solid #fff;
      &:first-child {
        border-top: 2px solid #fff;
      } 
      td {
        padding: 1em 2em 1em 0;
      }
      .shows-container-item__date {
        color: $tbl-body-font-color;
      }
      .shows-container-item__place {
        color: $tbl-body-font-color; 
      }
      .shows-container-item__location {
        color: $tbl-body-font-color;
      }
      .shows-container-item__btn-cell {
        .shows-container-item__btn {
          display: block;
          margin: auto;
          padding: 1rem 2rem;
          background-color: rgba(255, 255, 255, 0.4);
          color: #fff;
          font-weight: 600;
          border-color: #fff;
          border-radius: 4px;
        }
      }
    }
  }
}

/*  MEDIA QUERIES  */

// Media Query @ 768px
@media (max-width: 768px) {
  .hero {
    min-height: 40vh;
  }
  .hero-header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0;
  }
  .hero-header--left, .hero-header--right  {
    flex-direction: column;
    align-items: center;
  }
  .hero-header--left > a, .hero-header--right > a {
    width: 100vw;
    font-size: 1.8*0.8 + rem;
    text-align: center;
  }
  .hero-content {
    min-height: 40vh;
    .hero-content__date {
      font-size: 8.4*0.5 + rem;
    }
    .hero-content__tagline {
      font-size: 3.6*0.5 + rem;
    }
    .hero-content__btn {
      width: 19.8*0.5 + rem;
      height: 5.5*0.5 + rem;
      padding: 1.5*0.5 + rem 3*0.5 + rem;
      font-size: 1.8*0.5 + rem;
    }
  }

  .shows {
    .shows__title {
      font-size: 6.4*0.6 + rem;
    }
    .shows-content-wrapper {
      margin-top: 2rem;
      .shows-header-row {
        .shows-tbl-headers {
          font-size: 1.8*0.6 + rem;
        }
      }
      .shows-container-item {
        .shows-container-item__btn-cell {
          .shows-container-item__btn {
            padding: 0.5rem 0.6rem;
            background-color: rgba(255, 255, 255, 0.4);
          }
        }
      }
    }
  }
}