/*  Variables  */
/*  Mixins */
/*  General  */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, h2, h3, h4 {
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 2.0rem;
}

/*   SHOWS PAGE  */
/*  Hero Background  */
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Images/homepage-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/homepage-background.jpg");
  background-size: cover;
  min-height: 100vh;
}

/*   Nav Bar  */
.hero-header {
  min-height: 8vh;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-header--left, .hero-header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header--left a, .hero-header--right a {
  padding: 0 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #D7D7D7;
}

.hero-header--left:hover, .hero-header--right:hover {
  color: #fff;
}

.hero-header--left a {
  color: #fff;
}

.hero-header--right .clicked {
  color: #fff;
}

/*  Shows Table  */
.shows {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.shows .shows__title {
  color: #fff;
}

.shows .shows-content-wrapper {
  padding-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

.shows .shows-content-wrapper .shows-header-row .shows-tbl-headers {
  color: #fff;
  font-size: 1.8rem;
  text-align: left;
  padding-bottom: 0.5em;
}

.shows .shows-content-wrapper .shows-container-item {
  font-size: 0.845rem;
  border-bottom: 2px solid #fff;
}

.shows .shows-content-wrapper .shows-container-item:first-child {
  border-top: 2px solid #fff;
}

.shows .shows-content-wrapper .shows-container-item td {
  padding: 1em 2em 1em 0;
}

.shows .shows-content-wrapper .shows-container-item .shows-container-item__date {
  color: #D7D7D7;
}

.shows .shows-content-wrapper .shows-container-item .shows-container-item__place {
  color: #D7D7D7;
}

.shows .shows-content-wrapper .shows-container-item .shows-container-item__location {
  color: #D7D7D7;
}

.shows .shows-content-wrapper .shows-container-item .shows-container-item__btn-cell .shows-container-item__btn {
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: 600;
  border-color: #fff;
  border-radius: 4px;
}

/*  MEDIA QUERIES  */
@media (max-width: 768px) {
  .hero {
    min-height: 40vh;
  }
  .hero-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0 0;
  }
  .hero-header--left, .hero-header--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-header--left > a, .hero-header--right > a {
    width: 100vw;
    font-size: 1.44rem;
    text-align: center;
  }
  .hero-content {
    min-height: 40vh;
  }
  .hero-content .hero-content__date {
    font-size: 4.2rem;
  }
  .hero-content .hero-content__tagline {
    font-size: 1.8rem;
  }
  .hero-content .hero-content__btn {
    width: 9.9rem;
    height: 2.75rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
  .shows .shows__title {
    font-size: 3.84rem;
  }
  .shows .shows-content-wrapper {
    margin-top: 2rem;
  }
  .shows .shows-content-wrapper .shows-header-row .shows-tbl-headers {
    font-size: 1.08rem;
  }
  .shows .shows-content-wrapper .shows-container-item .shows-container-item__btn-cell .shows-container-item__btn {
    padding: 0.5rem 0.6rem;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
/*# sourceMappingURL=shows.css.map */